extends ../layout.pug

block layout-content
	#success-container
		.container2
			.centered-layout
				h1 Detailed Presentation
				.inline-box-container(style="display: flex; gap:30px; flex-direction: row; flex-wrap: wrap;justify-content: center;")
					// Iterate over each credential and display an inline box with dynamic background color and text color
					each credential, index in credentialPayloads
						- const branding = credential.credentialBranding || { backgroundColor: 'red', textColor: 'black' }
						- const imageUrl = credential.credentialBranding.image.url // Get the corresponding image URL
						.credential-box(style=`position:relative;overflow:hidden;display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; position: relative; margin: 10px;border-radius:10px;`, id=`credential-box-${index}`)
							img(style="width: 240px; height: 150px; border-radius: 10px;")(src=imageUrl)

				h3 Requested claims extracted from credentials

				.claims-tables
					each claimType in Object.keys(presentationClaims)
						h4= claimType
						.table-container(style="overflow-x: auto;")
							table
								thead
									tr
										th Name
										th Value
								tbody
									each claim in presentationClaims[claimType]
										tr
											td= claim.name
											td= claim.value

				h3 Credentials

				// Text area to display credentials JSON format
				textarea#json-textarea.wide
					//- Display the 'credentialPayloads' JSON object
					| #{JSON.stringify(credentialPayloads, null, 2)}

	script(src="/js/check-expired.js")
	script.
		//- var credentialPayloads = !{JSON.stringify(credentialPayloads)};
		//- updateLayoutForExpiredCredentials(credentialPayloads);

	block footer
		include ../footer.pug

	link(rel="stylesheet" href="/styles/index.css")
	link(rel="stylesheet" href="/styles/detailed-presentation.css")
	link(rel="stylesheet" href="/styles/presentation-data.css")
	script(src="/js/index.js")
