extends ../layout.pug
block layout-content
	.container
		h1 Received Verifiable Presentations
		if verifiablePresentations && verifiablePresentations.length > 0
			.card-container
			for vp in verifiablePresentations
				.card
					.card-title Unique ID: #{vp.id}
					p
						.card-text Date: #{vp.date}
						.card-text Claims:
						textarea#json-textarea.wide
							| #{JSON.stringify(vp.claims, null, 2)}
						.card-text Holder Info: #{vp.holderInfo}
					.card-buttons
						button.btn.btn-primary(onclick=`window.location.href = "/verifier-panel/presentation/${vp.id}"`) Inspect details
		else
			h4 No Verifiable Presentations