extends ../layout.pug

block layout-content
	.container2.container-positions
		h1 Present your Verifiable Credentials
		.card-container
			for definition in presentationDefinitions
				if definition._selectable === true
					a.card(href=`/verifier/public/definitions/configurable-presentation-request/${definition.id}`)
						.card-title #{definition.title}
						p.card-text #{definition.description}
				else
					a.card(href=`/verifier/public/definitions/presentation-request/${definition.id}`)
						.card-title #{definition.title}
						p.card-text #{definition.description}

			a.card(href="/verifier/public/definitions/edit-presentation-definition")
				.card-title Custom Presentation Definition
				p.card-text Import the presentation definition of your choice.

	block footer
		include ../footer.pug

	link(rel="stylesheet" href="/styles/index.css")
	script(src="/js/index.js")
