extends ../layout.pug
block layout-content
	.container
		.centered-layout
			form(action=`/verifier/public/definitions/presentation-request/${presentationDefinitionId}` method='post')
				.CenteredLayout
					h2 Select the fields you wish to present
					.left-layout
						for selectableField of selectableFields
							- const [fieldName, fieldPath, isSelectable] = selectableField;
							if fieldPath === '$.vct'
								.checkbox
									input(type='checkbox' id=fieldPath name='fields' value=fieldPath checked disabled)
									label(for=fieldPath) #{fieldName}
									input(type='hidden' name='fields' value=fieldPath)
							else
								.checkbox
									input(type='checkbox' id=fieldPath name='fields' value=fieldPath)
									label(for=fieldPath) #{fieldName}
					button.btn.btn-primary(type='submit') Request
	link(rel="stylesheet" href="/styles/scan-qr-verifier.css")