extends ../layout.pug
block layout-content
	.container
		.centered-layout
			form(action=`/verifier/public/definitions/presentation-request/${presentationDefinitionId}` method='post')
				.CenteredLayout
					h2 Select the fields you wish to present
					.left-layout
						.checkbox
							input(type='checkbox' id="$.type" name='fields' value='$.type' checked disabled)
							label(for='type') Type
							input(type='hidden' name='fields' value='$.type')
						for selectableField of selectableFields
							- const [fieldName, fieldPath] = selectableField;
							.checkbox
								input(type='checkbox' id=fieldPath name='fields' value=fieldPath)
								label(for=fieldPath) #{fieldName}
					button.btn.btn-primary(type='submit') Present
	link(rel="stylesheet" href="/styles/scan-qr-verifier.css")