title#the-title #{title}
meta(charset="utf-8")

link(rel="shortcut icon" href="/images/favicon.ico?v=lk9mNwXlE0")
link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=lk9mNwXlE0")
link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=lk9mNwXlE0")
link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=lk9mNwXlE0")
link(rel="mask-icon" href="/images/safari-pinned-tab.svg?v=lk9mNwXlE0" color="#353f55")
//- link(rel="manifest" href="/site.webmanifest?v=lk9mNwXlE0")
meta(name="msapplication-TileColor" content="#353f55")
meta(name="theme-color" content="#353f55")
link(rel="manifest" href="/site.webmanifest")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="manifest" href="%PUBLIC_URL%/manifest.json")

meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="theme-color", content="#000000")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700")
link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")


meta(name="csrf-token" content=csrfToken value=csrfToken)

// global JS
script(src="/js/index.js")

// global styles
link(rel="stylesheet" href="/styles/styles.css")