extends layout.pug
block layout-content

	#Index
		section.IssuerOrVerifierLayout
			div.MainArea.IssuerSection
				.ItemLayout
					//- i(class=`fa ${locale.landingPageFaClass ? locale.landingPageFaClass : "fa-id-card-o"} LargeIcon`)
					p.title #{locale.index.phrase} #{supportedCredentialType.display[0].name}
					p.text-area #{locale.index.subtitle}
					.image-container
						img(src=credentialOfferQR)
					| - OR -
					button.Btn.Large.Landing(id="mainBtn" onclick=`window.location.href = "${credentialOfferURL}"`) #{locale.index.proceed}
					textarea#url-textarea.wide
						| #{credentialOfferURL}
			//- div.item.VerifierSection
			//- 	.ItemLayout
			//- 		i.fa.fa-university.LargeIcon
			//- 		p #{locale.Index.rightSideDesc}
			//- 		button.Large.Btn.Rect(onclick=" window.location.href = '/view/admin-login' ") #{locale.Index.proceedButtonText} 

		if sdjwtVcMetadata
			.container
				h4 #{locale.index.headerSdjwtVcTypeMetadata}
				textarea(style="width: 100%; height: 300px;" readonly)= JSON.stringify(sdjwtVcMetadata, null, 2)

	block footer
		include footer.pug

	link(rel="stylesheet" href="/styles/index.css")
	link(rel="stylesheet" href="/styles/presentation-data.css")

	script(src="/js/index.js")