extends layout.pug

block layout-content
	form#Index(method="POST")
		section.IssuerOrVerifierLayout
			.flex-container
				.image-column
					img(src="/images/home.png" alt="Image")
				.content-column
					h1 #{locale.index.heading}
					p #{locale.index.paragraph}
					br
					h4 #{locale.index.oid4vpProfile}
					table.oid4vp-table
						tbody
							for row of locale.index.openid4vp
								tr
									td #{row[0]}
									td #{row[1]}
					br
					br
					button.Btn.Large.Landing(id="mainBtn" type="submit") #{locale.index.verifyCredential}
					input(type="hidden" id="verifier" name="verifier" value="true")

	block footer
		include footer.pug

	link(rel="stylesheet" href="/styles/index.css")
	link(rel="stylesheet" href="/styles/presentation-data.css")
	script(src="/js/index.js")
