extends layout.pug

block layout-content
	#Index
		div.container-box
			p.title Welcome to wwWallet Issuer
			p.description Issue any of the following Verifiable Credential types
			div.flex-box
				each cred in supportedCredentials
					.box
						h2 #{cred.display[0].name}
						p #{cred.display[0].description}

						// Button for redirection
						button.Btn.Large.Landing(id="mainBtn" onclick=`window.location.href = "/offer/${cred.scope}"`) Issue

		.container
			h1 #{locale.index.heading}
			p #{locale.index.paragraph}
			p
				| #{locale.index.metadata} 
				a(href=`${baseUrl}/.well-known/openid-credential-issuer`) #{baseUrl}/.well-known/openid-credential-issuer 
				| #{locale.index.sdJwtMetadata} 
				a(href=`${baseUrl}/.well-known/openid-credential-issuer`) #{baseUrl}/.well-known/jwt-vc-issuer.
			p #{locale.index.specs}
			table.specs-table
				thead
					tr
						th Function
						th Specification
				tbody
					tr
						td VC Issuance:
						td
							a(href="https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0-14.html" target='_blank') OpenID4VCI Draft 14
					tr
						td VC Presentation:
						td
							a(href="https://openid.net/specs/openid-4-verifiable-presentations-1_0-21.html" target='_blank') OpenID4VP Draft 21
					tr
						td Authorization Code Grant:
						td
							a(href="https://datatracker.ietf.org/doc/html/rfc6749#section-4.1" target='_blank') OAuth 2.0 Authorization Code Grant Type
					tr
						td PKCE:
						td
							a(href="https://datatracker.ietf.org/doc/html/rfc7636" target='_blank') Proof Key for Code Exchange by OAuth Public Clients
					tr
						td DPoP:
						td
							a(href="https://tools.ietf.org/html/draft-ietf-oauth-dpop-11" target='_blank') OAuth 2.0 Demonstrating Proof of Possession (DPoP)


	block footer
		include footer.pug

	link(rel="stylesheet" href="/styles/landing.css")
	link(rel="stylesheet" href="/styles/index.css")
