extends layout.pug

block layout-content
	#Index
		div.container-box
			p.title Welcome to wwWallet Issuer
			p.description Issue any of the following Verifiable Credential types
			div.flex-box
				each cred in supportedCredentials
					.box
						h2 #{cred.display[0].name}
						p #{cred.display[0].description}

						// Button for redirection
						button.Btn.Large.Landing(id="mainBtn" onclick=`window.location.href = "/offer/${cred.scope}"`) Issue

		.container
			h1 #{locale.index.heading}
			p #{locale.index.paragraph}
			p
				| #{locale.index.metadata} 
				a(href=`${baseUrl}/.well-known/openid-credential-issuer`) #{baseUrl}/.well-known/openid-credential-issuer 
				| #{locale.index.sdJwtMetadata} 
				a(href=`${baseUrl}/.well-known/jwt-vc-issuer`) #{baseUrl}/.well-known/jwt-vc-issuer.
			p #{locale.index.specs.paragraph}
			div.specs-container
				div.specs-box
					h4 OpenID4VCI Interoperability Profile
					table.specs-table
						tbody
							for row of locale.index.specs.tables.openid4vci
								tr
									td #{row[0]}
									td #{row[1]}
					br
					i Notes: #{locale.index.specs.tables.openid4vci_notes}
					br
					br

				div.specs-box
					h4 OpenID4VP Interoperability Profile
					table.specs-table
						tbody
							for row of locale.index.specs.tables.openid4vp
								tr
									td #{row[0]}
									td #{row[1]}
							div.specs-box
					
			h4 #{locale.index.typeMetatadaExamplesHeader}
			table.specs-table
				tbody
					for row in locale.index.typeMetatadaExamples
						tr
							td #{row[0]}
							td
								a(href=baseUrl + "/public/creds/" + row[1], target="_blank")= baseUrl + "/public/creds/" + row[1]


	block footer
		include footer.pug

	link(rel="stylesheet" href="/styles/landing.css")
	link(rel="stylesheet" href="/styles/index.css")
