extends ../layout.pug
block layout-content

	form#IssuerSelection(name="AuthenticationMethod" method="POST")
		.main-container
			p(class="dropdownLabel") #{locale.AuthenticationMethodComponent.title}
			div(class='dropdownContainer')
				p.label #{locale.AuthenticationMethodComponent.label} 
				select#authMethodDropdown(name="auth_method" class='issuerDropdown')
					option(value="" disabled selected) Select an authentication method
					for method of methods
						option(value=method.code) #{method.description}

				button.Btn.Large.Landing(id="mainBtn" type="submit") #{locale.index.proceed}
	block footer
	include ../footer.pug

	link(rel="stylesheet" href="/styles/styles.css")
	link(rel="stylesheet" href="/styles/selection.css")
	script(src="/js/alert.js")
	script(src="/js/select-client.js")
	script(src="/js/auth-method-selection.js")
