extends ../layout.pug
block layout-content

	.main-container
		form#DiplomaSelection(method="POST")

			p Consent
			// Container for the spinner (initially hidden)
			#spinner-container
				.spinner
					.spinner-circle

			section.layout(style="display: none;")
				section.container-header
					section.consent-description The following credentials have been found. Please review their details and select the one you want to receive.
					if grant_type == "authorization_code"
						button.Btn.Small.SelectMultiBtn(type="button" id="selectVc") Select

				section.MainLayout
					dialog#qrDialog
						.dialog-header
							h4 Credential Offer
							button#closeDialogBtn.Btn.Close(type="button")
								i.fa.fa-times
						.dialog-body
							img#qrImage(src="" alt="QR Code" style="width:-webkit-fill-available;")
							.centered
								div
									button#qrURLwwwallet.Btn.Small.openwithwalletbutton Open with wwWallet
								div
									button#qrURLnative.Btn.Small.openwithwalletbuttonnative Open with a Native Wallet

					section.CredentialsArea
						//- form.diplomas(name='selectDiplomas' method="post")
						for credential in credentialViewList
							.credential-card
								input(type="hidden" name="selected_credential_id_list[]" value=credential.credential_id disabled)
								a.credential.toggle-details(id=credential.credential_id style=`
									background-image: url(${credential.credential_supported_object.display[0].logo.url});
								`)
									i.is-selected.fa.fa-check-circle-o(aria-hidden="true")
								.details
									i.arrowDown.fa.fa-angle-down(aria-hidden="true")
									//- button.Btn.Small.GetSingleBtn(type="submit") Get credential
									table
										for row of credential.view.rows
											tr
												td
													b #{row.name}
												td
													div #{row.value}
												td
													input(type="checkbox" class="scopeCheckbox" id=row.name name=row.name value=row.value checked disabled)
									br
									if grant_type != "authorization_code"
										button.Btn.Small(type='button' onclick=`openDialog('${credential.credentialOfferQR}', '${credential.credentialOfferURL}')`) Get credential
				.GetMultiBtnArea
					p.Errors.Hidden#NoCredentialSelectedError Please select at least one Credential to be issued
					if grant_type == "authorization_code"
						button.Btn.Small.GetMultiBtn(type="submit" disabled) Get credentials
				if grant_type == "authorization_code"
					.DetailsArea
						section.DetailsLayout
							h4 Details of authorization
							.ConsentDetails
								table
									tr
										td
											b Client
										td
											div #{redirect_uri}
									tr
										td
											b Expiration
										td
											div 1 year
	.BarBtnContainer
		button#BarBtn.Btn.Large.GetMultiBtn(type="button" disabled) Get credentials

	link(rel="stylesheet" href="/styles/consent.css")
	link(rel="stylesheet" href="/styles/inspect.css")
	script(src='/js/consent.js')
	script(src='/js/qr-popup.js')