extends ../layout.pug
block layout-content

	.main-container
		form#DiplomaSelection(method="POST")

			section.layout
				section.container-header
					p Consent
					if grant_type == "authorization_code"
						button.Btn.Small.SelectMultiBtn(type="button") Select
				section.consent-description The following credentials have been found. Please review their details and select the one you want to receive.

				section.MainLayout
					dialog#qrDialog
						img#qrImage(src="" alt="QR Code")
						.centered
							button#qrURL.Btn.Small Open with wallet
							button.Btn.Small(type="button" id="closeDialogBtn") Close

					section.CredentialsArea
						//- form.diplomas(name='selectDiplomas' method="post")
						for credential in credentialViewList
							.credential-card
								input(type="hidden" name="selected_credential_id_list[]" value=credential.credential_id disabled)
								a.credential.toggle-details(id=credential.credential_id style=`
									background-image: url(${credential.credential_supported_object.display[0].logo.url});
								`)
									i.is-selected.fa.fa-check-circle-o(aria-hidden="true")
								.details
									i.arrowDown.fa.fa-angle-down(aria-hidden="true")
									//- button.Btn.Small.GetSingleBtn(type="submit") Get credential
									table
										for row of credential.view.rows
											tr
												td
													b #{row.name}
												td
													div #{row.value}
												td
													input(type="checkbox" class="scopeCheckbox" id=row.name name=row.name value=row.value checked)
									br
									if grant_type != "authorization_code"
										button.Btn.Small(type='button' onclick=`openDialog('${credential.credentialOfferQR}', '${credential.credentialOfferURL}')`) Get credential
				.GetMultiBtnArea
					p.Errors.Hidden#NoCredentialSelectedError Please select at least one Credential to be issued
					if grant_type == "authorization_code"
						button.Btn.Small.GetMultiBtn(type="submit" disabled) Get credentials
				if grant_type == "authorization_code"
					.DetailsArea
						section.DetailsLayout
							h4 Details of authorization
							.ConsentDetails
								table
									tr
										td
											b Client
										td
											div #{redirect_uri}
									tr
										td
											b Expiration
										td
											div 1 year
	.BarBtnContainer
		button#BarBtn.Btn.Large.GetMultiBtn(type="button" disabled) Get credentials

	link(rel="stylesheet" href="/styles/consent.css")
	link(rel="stylesheet" href="/styles/inspect.css")
	script(src='/js/consent.js')
	script(src='/js/qr-popup.js')