extends ../layout.pug
block layout-content

	.main-container
		#Login
			.login-flex
				.login-flex.login-box.item
					h2.item #{locale.login.title}
					p.item #{locale.login.description}
					form(name="login" method="post")
						input#csrf-token(type="hidden" name="csrf-token" value="")

						.input-wrap.item
							input.input-field#username(type='text' name='username' value="user1" placeholder='Username')
						.input-wrap.item
							input.input-field#password(type='password' name='password' value="secret" placeholder='Password')

						p.invalid-feedback#invalid-username #{locale.login.error.emptyUsername}
						p.invalid-feedback#invalid-password #{locale.login.error.emptyPassword}
						if failed
							p.invalid-feedback-show#invalid-credentials #{locale.login.error.invalidCredentials}
						p.invalid-feedback#network-error #{locale.login.error.networkError}
						br
						.login-flex
							button.Btn.Large
								| #{locale.login.btnText}

				// Dropdown list of credentials
				.login-flex
					p.item Use Other Demo Credentials
					.demo-creds
						select#credential-list
							option(value="") Select credentials
							option(value='{"username": "user1", "password": "secret"}') user1
							option(value='{"username": "user2", "password": "secret"}') user2
						button.Btn.Small(id="use-credential")
							i.fa.fa-arrow-right

	link(rel="stylesheet" href="/styles/login.css")
	script(src="/js/alert.js")
	script(src="/js/login.js")
	script.
		document.getElementById('use-credential').addEventListener('click', function() {
			var selectedCredential = document.getElementById('credential-list').value;
			if (selectedCredential) {
				var credentials = JSON.parse(selectedCredential);
				document.getElementById('username').value = credentials.username;
				document.getElementById('password').value = credentials.password;
			}
		});