extends ../layout.pug
block layout-content

	form#confirmInfo(name="proceed" method="POST")
		.personal-container
			h2 #{locale.personalInfo.title}
			p #{locale.personalInfo.subtitle}
			table.info-table.striped
				tbody
					if info.document_number
						tr
							td #[strong #{locale.personalInfo.document_number}]
							td #{info.document_number}

			hr
			p #{locale.personalInfo.acknowledgement}

			.action-group
				button.Btn.Medium.gray #{locale.personalInfo.back}
				button.Btn.Medium.Landing(id="mainBtn" name="proceed" type="submit") #{locale.personalInfo.proceed}
	block footer
	include ../footer.pug
	link(rel="stylesheet" href="/styles/personal-info.css")
	link(rel="stylesheet" href="/styles/styles.css")